<!DOCTYPE html>
<html>
<head>
    <title>Voto Registrado</title>
    <style>
        body {
            background-color: azure;
        }
        @font-face {
            font-family: Glitten, serif;
            src: url("/public/fonts/glitten.otf");
        }

        h1 {
            font-family: Glitten, serif;
            text-align: center;
            font-size: 70px;
            color: midnightblue;
        }

        p {
            font-family: "Times New Roman", sans-serif;
            font-size: 20px;
            text-align: center;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #020024;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-family: "Times New Roman", sans-serif
        }

        li a:hover:not(.active) {
            background-color: #020024;
        }
        .active {
            background-color: #1173d9;
        }
    </style>
</head>
<body>
<ul>
    <li><a class="active" href="/">Página de Votos</a></li>
    <li><a href="/admin">Administrativo</a></li>
</ul>
<h1>Voto Registrado</h1>
<p>Obrigado pelo seu voto!</p>
</body>
</html>